.cv-image-container, .cv-landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-image-container .cv-image {
    width: 10rem;
    margin: 1.5em 0;
}

.cv-landing-container {
    position: relative;
    flex-direction: column;

    .repository-link {
        position: fixed;
        top: 20px;
        right: 0;
        z-index: 5;

        a {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            transition: all .3s ease-in;
            padding-bottom: $repository-link-size-mobile;

            .icon {
                vertical-align: text-top;
            }
            .text {
                position: absolute;
                height: $repository-link-size-mobile;
                text-align: right;
                text-orientation: upright;
                writing-mode: vertical-rl;
                font-size: .7rem;
                transition: opacity .3s ease-in;
            }

            &.collapsed {
                padding-bottom: .5rem;

                .text {
                    opacity: 0;
                }
            }
        }
    }

    .cv-name {
        font-size: 3rem;
        margin: .5rem 0;
        color: $accent-0;
        text-shadow: 3px 0 5px rgba(0,0,0,.3),
                     3px 3px 3px rgba(0,0,0,.5),
                     3px 6px 1px rgba(0,0,0,.3),
                     3px 6px 5px rgba(0,0,0,.4),
                     3px 8px 10px rgba(0,0,0,.35),
                     3px 13px 10px rgba(0,0,0,.4),
                     3px 23px 20px rgba(0,0,0,.25);

        span:first-child {
            color: $primary;
            font-weight: 700;
        }
    }

    .cv-occupation {
        color: $accent-0;
        font-size: 1.5em;
        font-weight: 300;
        text-shadow: 3px 0 5px rgba(0,0,0,.3),
                     3px 1px 3px rgba(0,0,0,.5),
                     3px 4px 1px rgba(0,0,0,.3),
                     3px 4px 5px rgba(0,0,0,.4);
        white-space: nowrap;
    }

    .landing-hr {
        background-image: linear-gradient(to right, $bg-4 5%, white, $bg-4 95%);
        border: 0;
        height: 2px;
        width: 90%;
    }

    .cv-social {
        @extend .pt-4;

        .btn {
            width: 30px;
            background-color: $accent-2;

            &.btn-github {
                &:hover, &:focus {
                    background-color: $social-github;
                }
            }
            &.btn-vk {
                &:hover, &:focus {
                    background-color: $social-vk;
                }
            }
            &.btn-xing {
                &:hover, &:focus {
                    background-color: $social-xing;
                }
            }
            &.btn-linkedin {
                &:hover, &:focus {
                    background-color: $social-linkedin;
                }
            }
        }

        svg.icon {
            fill: #fff;
            margin: 25%;
        }
    }

    .cv-misc {
        @extend .pt-4;
        width: 100%;
        display: flex;
        flex-direction: column;
    
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            a {
                position: relative;
    
                svg.icon {
                    vertical-align: text-top;
                    margin-left: 5px;
                }
            }
        }
    }
}


@media (min-width: $screen-md) {
    .cv-image-container .cv-image {
		max-width: 20rem;
		width: 90%;
    }
    .cv-landing-container .repository-link {
        top: 50px;
        right: 50px;

        a {
            padding-bottom: .5rem;
            padding-right: $repository-link-size;
    
            .text {
                height: inherit;
                width: $repository-link-size;
                text-orientation: inherit;
                writing-mode: inherit;
            }

            &.collapsed {
                padding-right: 1rem;
            }
        }
    }
}

@media (min-width: $screen-lg) {
    .cv-landing-container .cv-misc {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: $screen-xl) {
    .cv-landing-container .cv-misc {
        max-width: 66.6667%;
    }
}