.portfolio-card {
    max-width: 320px;
    padding-bottom: 1.5rem;

    .card-link:hover {
        img {
            transform: scale(1.1);
        }
    }

    .card-img {
        position: relative;
        overflow: hidden;

        img {
            height: auto;
            background-color: #fff;
            border-radius: 5px;
            max-width: 100%;
            transition: all .3s ease-in;
        }
    }

    .card-name {
        margin-top: .5rem;
        font-weight: 700;
    }

    .card-description {
        font-size: .85rem;
        color: $accent-1;
    }
}
