//===============================================================================================
// App-global colors
//===============================================================================================

$bg-1: #1F1F1F;
$bg-2: #262626;
$bg-3: #2D2D2D;
$bg-4: #343434;

$primary: #0091EA;
$accent-0: rgb(220, 220, 220);
$accent-1: rgb(167, 167, 167);
$accent-2: rgb(100, 100, 100);

$social-github: #444;
$social-linkedin: #0077B5;
$social-cv: #cfdc00;

//===============================================================================================
// Misc variables
//===============================================================================================

$repository-link-size-mobile: 75px;
$repository-link-size: 60px;
