//===============================================================================================
// Screen size definitions
//===============================================================================================

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

//===============================================================================================
// App-global colors
//===============================================================================================

$bg-1: #1F1F1F;
$bg-2: #262626;
$bg-3: #2D2D2D;
$bg-4: #343434;

$primary: #0091EA;
$accent-0: rgb(220, 220, 220);
$accent-1: rgb(167, 167, 167);
$accent-2: rgb(100, 100, 100);

// $social-facebook: #3B5998;
$social-github: #444;
// $social-google: #DD4B39;
// $social-instagram: #3F729B;
$social-linkedin: #0077B5;
// $social-pinterest: #CB2027;
// $social-twitter: #55ACEE;
$social-vk: #587EA3;