.cv-image-container, .cv-landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-landing-container {
    flex-direction: column;

    .cv-name {
        font-size: 3rem;
        margin: .5rem 0;
        color: $accent-0;
        text-shadow: 3px 0 5px rgba(0,0,0,.3),
                     3px 3px 3px rgba(0,0,0,.5),
                     3px 6px 1px rgba(0,0,0,.3),
                     3px 6px 5px rgba(0,0,0,.4),
                     3px 8px 10px rgba(0,0,0,.35),
                     3px 13px 10px rgba(0,0,0,.4),
                     3px 23px 20px rgba(0,0,0,.25);

        span:first-child {
            color: $primary;
            font-weight: 700;
        }
    }

    .cv-occupation {
        color: $accent-0;
        font-size: 1.5em;
        font-weight: 100;
        text-shadow: 3px 0 5px rgba(0,0,0,.3),
                     3px 1px 3px rgba(0,0,0,.5),
                     3px 4px 1px rgba(0,0,0,.3),
                     3px 4px 5px rgba(0,0,0,.4);
        white-space: nowrap;
    }
}

.landing-hr {
    background-image: linear-gradient(to right, $bg-4 5%, white, $bg-4 95%);
    border: 0;
    height: 2px;
    width: 90%;
}

.cv-social {
    @extend .pt-4;

    .btn {
        width: 30px;
        background-color: $accent-2;

        &.btn-github {
            &:hover, &:focus {
                background-color: $social-github;
            }
        }
        &.btn-vk {
            &:hover, &:focus {
                background-color: $social-vk;
            }
        }
        &.btn-xing {
            &:hover, &:focus {
                background-color: $social-xing;
            }
        }
        &.btn-linkedin {
            &:hover, &:focus {
                background-color: $social-linkedin;
            }
        }
    }

    svg.icon {
        margin: 25%;
    }
}

.cv-misc {
    @extend .pt-4;
    width: 100%;
    display: flex;
    flex-direction: column;

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            position: relative;

            svg.icon {
                vertical-align: text-top;
                margin-right: 5px;
            }
        }
    }
}

.cv-block {
    padding: 1rem;

    &:nth-child(4n+1) {
        background-color: $bg-1;
        @extend .col-md-3, .col-xl-2;
    }
    &:nth-child(4n+2) {
        background-color: $bg-2;
        @extend .col-md-9, .col-xl-10;
    }
    &:nth-child(4n+3) {
        background-color: $bg-3;
        @extend .col-md-3, .col-xl-2;
    }
    &:nth-child(4n+4) {
        background-color: $bg-4;
        @extend .col-md-9, .col-xl-10;
    }

    // Top(mobile) / left(desktop) block (name + description)
    &:nth-child(2n+3) {
        display: flex;
        flex-direction: column;

        .block-name {
            color: $primary;
            font-weight: 900;
            @extend .text-center, .text-md-right;
        }
        .block-description {
            color: $accent-1;
            font-size: 0.9em;
            @extend .text-center, .text-md-right;
        }
    }

    // Bottom(mobile) / right(desktop) block (content)
    &:nth-child(2n+4) {
        font-size: 0.875rem;
        color: $accent-0;
        @extend .text-center, .text-md-left;

        .col-md-6:nth-child(n+2) > .exp {
            padding-top: 1.5rem;
        }

        .exp {
            display: flex;
            text-align: left;

            .exp-number {
                font-size: 1.5rem;
                font-weight: 900;
                color: $primary;
            }

            .exp-box {
                padding: 0 1.5rem;

                .exp-name {
                    display: block;
                    padding-bottom: .75rem;
                    font-weight: 600;
                    color: $primary;
                }
            }
        }
    }

    .cv-image {
        width: 10rem;
        margin: 1.5em 0;
    }
}

@media (min-width: $screen-md) {
    .cv-block {
        // Top(mobile) / left(desktop) block (name + description)
        &:nth-child(2n+3) {
            padding: 2rem 2rem 0 0;
        }

        // Bottom(mobile) / right(desktop) block (content)
        &:nth-child(2n+4) {
            padding: 2rem 3rem;
            font-size: 1rem;

            .col-md-6:nth-child(2) > .exp {
                padding-top: 0;
            }
        }
    }

    .cv-image-container .cv-image {
		max-width: 20rem;
		width: 90%;
	}
}

@media (min-width: $screen-lg) {
    .cv-misc {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (min-width: $screen-xl) {
    .cv-misc {
        max-width: 66.6667%;
    }
}